[tool.poetry]
name = "encord"
version = "0.1.35"
description = "Encord Python SDK Client"
authors = ["Cord Technologies Limited <hello@encord.com>"]
license = "Apache Software License"
keywords = ["cord", "encord"]
packages = [
    { include = "cord"},
    { include = "encord"},
]
readme = "README.md"
repository="https://github.com/encord-team/encord-client-python"
documentation="https://python.docs.encord.com/"
classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = "^3.7"
python-dateutil = "^2.8.2"
requests = "2.25.0"
uuid = "^1.30"
cryptography = "^3.4.8"
tqdm = "^4.32.1"
sphinx-tabs = "^3.3.1"
sphinx-codeautolink = "^0.10.0"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
pre-commit = "^2.16.0"
black = "^21.12b0"
sphinx-autodoc-typehints = "1.15.2"
prettyprinter = "0.18.0"
isort = "^5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
include = 'encord\/.*'

[tool.isort]
# setting isort to a compatibility mode with `black`
# https://pycqa.github.io/isort/docs/configuration/black_compatibility.html
profile = "black"
