[tool.poetry]
name = "encord"
version = "0.1.89"
description = "Encord Python SDK Client"
authors = ["Cord Technologies Limited <hello@encord.com>"]
license = "Apache Software License"
keywords = ["encord"]
packages = [
    { include = "encord"},
]
readme = "README.md"
repository="https://github.com/encord-team/encord-client-python"
documentation="https://python.docs.encord.com/"
classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = "^3.8"
python-dateutil = "^2.8.2"
requests = "^2.25.0"
cryptography = ">=3.4.8"
tqdm = "^4.32.1"
pydantic = ">=1.7.0"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
pre-commit = "^3.3.0"
black = "^23.3.0"
sphinx-tabs = "^3.3.1"
sphinx-autodoc-typehints = "1.15.2"
sphinx-codeautolink = "^0.10.0"
sphinx-copybutton = "^0.5.0"
sphinx-toolbox = "^3.4.0"
prettyprinter = "0.18.0"
isort = "^5.10.1"
pydata-sphinx-theme = "^0.8.1"
Pillow = "^9.1.0"
sphinx-gallery = "^0.10.1"
deepdiff = "^6.2.1"
types-requests = "^2.25.0"
pylint = "^2.13.9"
autoflake = "^2.1.1"
mypy = "^1.4.1"
types-python-dateutil = "^2.8.19"
types-tqdm = "^4.32.1"

[build-system]
requires = ["poetry-core>=1.3.2"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
include = 'encord\/.*'

[tool.isort]
# setting isort to a compatibility mode with `black`
# https://pycqa.github.io/isort/docs/configuration/black_compatibility.html
profile = "black"

[tool.pylint.'MASTER']
ignore = "tests"

[tool.pylint.'MESSAGES CONTROL']
max-line-length = 120
disable = "all"
enable = "C0123, C0200, C0209, E0401, E0602, E1101, E1205, W0611, W0621, W1309, W1404, W1514"

[tool.autoflake]
check = false
expand-star-imports = true
ignore-init-module-imports = true
in-place = true
recursive = true
remove-all-unused-imports = true
remove-duplicate-keys = true
remove-unused-variables = true

[tool.mypy]
ignore_missing_imports = true
