[tool.poetry]
name = "encord"
version = "0.1.135"
description = "Encord Python SDK Client"
authors = ["Cord Technologies Limited <hello@encord.com>"]
license = "Apache Software License"
keywords = ["encord"]
packages = [
    { include = "encord" },
]
readme = "README.md"
repository="https://github.com/encord-team/encord-client-python"
documentation="https://python.docs.encord.com/"
classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
include = ["encord/py.typed"]


[tool.poetry.dependencies]
python = "^3.8"
python-dateutil = "^2.8.2"
requests = "^2.25.0"
cryptography = ">=3.4.8"
tqdm = "^4.32.1"
pydantic = ">=1.10.14"
orjson = ">=2"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.1"
pre-commit = "^3.5.0"
sphinx-tabs = "^3.3.1"
sphinx-autodoc-typehints = "1.15.2"
sphinx-codeautolink = "^0.10.0"
sphinx-copybutton = "^0.5.0"
sphinx-toolbox = "^3.4.0"
prettyprinter = "0.18.0"
pydata-sphinx-theme = "^0.8.1"
sphinx-gallery = "^0.10.1"
deepdiff = "^6.2.1"
types-requests = "^2.25.0"
mypy = "^1.11.1"
types-python-dateutil = "^2.8.19"
types-tqdm = "^4.32.1"
pyyaml = "^6.0.1"
pyright = "^1.1.374"
numpy = [
    {version = "^1.24", python = "<3.12"},
    {version = "^1.26", python = ">=3.12"}
]
ruff = "^0.5.7"

[build-system]
requires = ["poetry-core>=1.3.2"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = true

[tool.ruff]
target-version = "py38"
line-length = 120
exclude = ['docs']

[tool.ruff.lint]
extend-select = ["W", "Q", "I"]
ignore = ["F401", "E402"]
