.class {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.method {
    padding-bottom: 10px;
    padding-top: 10px;
}
.function {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.exception {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-brand > p {
    margin-left: 5px;
}

/*
pre {
    tab-size: 4;
    width: 88ch;
}

div.document {
    width: 100em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
*/