.class {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.method {
    padding-bottom: 10px;
    padding-top: 10px;
}
.function {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.exception {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-brand > p {
    margin-left: 5px;
}


div.sphx-glr-download a {
  background-color: inherit;
  background-image: inherit;
  border-radius: inherit;
  border: inherit;
  color: inherit;
  display: inline-block;
  font-weight: inherit;
  padding: 1ex;
  text-align: center;
}

div.sphx-glr-download a:hover {
    color: #007bff;
    box-shadow: initial;
    text-decoration: initial;
    background-image: initial;
    background-color: initial;
}

.sphx-glr-thumbcontainer figure img {
    width: 200px !important;
    height: 200px !important;
}

/*
pre {
    tab-size: 4;
    width: 88ch;
}

div.document {
    width: 100em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
*/
